.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	/* animation */
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	transition: 0.3s;
}

.unselectable:hover {
	background-color: #3e8e41;
	color: white;
}

body {
	/* background-color: #F5F5F5; */
	background-image: url("../images/doodles.png");
}

@media only screen and (max-width: 600px) {
	#dayText {
		font-size: inherit;
	}

	.card-content {
		padding-left: 15px !important;
	}

}

.card.z-depth-2 {
	height: 170px !important;
}

.input-field label {
	color: #fff !important;
}

input {
	border-bottom: 1px solid #ffffff !important;
}

.row {
	display: flex;
}

.pill-box-container {
  border-radius: 4px;
  padding: 0px !important;
}

.pill-box {
  border-radius: 4px;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.pills-container-image {
  top: -100%;
  position: absolute;
  width: 100%;
  height: 200%;
  background-size: contain;
  background-image: url("../images/pillbox.jpg");
  background-position: bottom;
}

.pills-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 3%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.pill {
  position: relative;
  height: 50%;
  padding-top: 5% !important;
}
.pill-image {
  height: 98%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/pill.png");
}

.pill-indicator {
  position: absolute;
  top: 2%;
  left: -1%;
  width: 23.4%;
  height: 25%;
  line-height: 100%;
}

.pill-indicator > i {
  line-height: 190%;
  font-size: 1.5vw;
  width: 100%;
  height: 100%;
}

.av-container.av-visible {
  height: 100%;
  width: 100%;
}

.delayed-animation {
  animation-delay: 1.5s;
  -vendor-animation-delay: 1.5s;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 45%, 0);
    transform: translate3d(0, 45%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 45%, 0);
    transform: translate3d(0, 45%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}