<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Smart Pillbox</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<!-- Favoicon -->
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />
	<!-- Progressive -->
	<link rel="manifest" href="/static/manifest.json">
</head>

<body>
	<div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
		<a id="alert" class="btn btn-floating btn-large cyan pulse">
			<i class="material-icons">notifications_active</i>
		</a>
	</div>
	<div class="tap-target-wrapper" style="right: -331px; bottom: -327px; position: fixed;">
		<div class="tap-target cyan" data-target="alert">
			<div class="tap-target-content white-text" style="width: 456px; height: 400px; top: 0px; right: 0px; bottom: 0px; left: 0px; padding: 56px; vertical-align: bottom;">
				<div id="feedbackDiv">
					<h5>Hi There!</h5>
					<p class="white-text">
						Your doctor has some quick questions for you, please click the symptomatic checkup to start.
					</p>
				</div>
				<a id="feedbackBtn" class="waves-effect waves-light btn green">Start</a>
			</div>
		</div>
		<div class="tap-target-wave" style="top: 344px; left: 344px; width: 112px; height: 112px;"><a class="btn btn-floating btn-large cyan tap-target-origin">
				<i class="material-icons">menu</i>
			</a></div>
	</div>
	<nav class="light-blue" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" class="brand-logo">
				<img style="height: 30px;" src="/static/images/favicon.png">
				SpB
			</a>
			<ul class="right hide-on-med-and-down">
				<li><a>Assistance</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a href="doctor">Doctors Page</a></li>
			</ul>

			<ul id="nav-mobile" class="sidenav">
				<li><a>Navbar Link</a></li>
			</ul>
			<!-- <a  data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<h1 class="header center orange-text text-darken-2">Welcome to your Pillbox!</h1>
		</div>
	</div>

	<div class="container">
		<div class="section">
			<div class="col">
				<div class="row">
					<div class="col s12 m6">
						<div class="card z-depth-2">
							<div class="card-content">
								<span class="card-title">Pill count</span>
								<h4>24 Pills remaining</h4>
							</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card z-depth-2">
							<div class="card-content">
								<span class="card-title">Next pill</span>
								<h4 id="nextPill"></h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6">
						<div class="card z-depth-2">
							<div class="card-content">
								<span class="card-title">Next Doctor visit</span>
								<h4>28th December, 2:30PM</h4>
							</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card z-depth-2">
							<div class="card-content">
								<span class="card-title">Checklist</span>
								<form>
									<p>
										<label>
											<input type="checkbox" checked="checked" disabled="disabled" />
											<span style="color: #64dd17;">3rd December,Schedule Checkup</span>
										</label>
									</p>
									<p>
										<label>
											<input type="checkbox" checked="checked" disabled="disabled" />
											<span style="color: #64dd17;">5th December,Medicine Restock</span>
										</label>
									</p>
									<p>
										<label>
											<input type="checkbox" disabled="disabled" />
											<span>28th December,Scheculed Checkup</span>
										</label>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</div>

	<div class="container">
		<div class="section">
			<div class="row">
				<div class="card col s12 m3 unselectable" id="findDevice">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
						<h5 class="center">Find my PillBox</h5>
					</div>
					<br>
				</div>
				<div class="card col s12 m3 unselectable">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
						<h5 class="center">Contact Doctor</h5>
					</div>
					<br>
				</div>
				<div class="card col s12 m3 unselectable">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
						<h5 class="center">Settings</h5>
					</div>
					<br>
				</div>
				<div class="card col s12 m3 unselectable">
					<div class="icon-block">
						<h2 class="center light-blue-text"><i class="material-icons">alarm</i></h2>
						<h5 class="center">Alert</h5>
					</div>
					<br>
				</div>
			</div>

		</div>
		<br><br>
	</div>

	<div class="container">
		<div class="section">
			<div class="card z-depth-4" style="padding:10px 20px 10px 20px; background-color: #0088ffab;">
				<h5 class="white-text" style="padding-left: 5px; font-style: italic;">Tracker</h5>
				<div class="card lighten-4" style="padding: 10px;">
					<div class="row" style="font-style: italic;">
						<h6 class="col" style="opacity: 0.5; padding:0px !important;">Month 1</h6>
						<i class="col material-icons" style="padding: 10px 0px 0px 0px !important;">arrow_forward</i>
						<h6 class="col" style="opacity: 0.5; padding:0px !important;">Month 2</h6>
						<i class="col material-icons" style="padding: 10px 0px 0px 0px !important;">arrow_forward</i>
						<h6 id="errorMonth" class="col yellow-text" style="padding:0px !important;">Month 3</h6>
						<i class="col material-icons" style="padding: 10px 0px 0px 0px !important;">arrow_forward</i>
						<h6 class="col" style="opacity: 0.5; padding:0px !important;">Month 4</h6>
						<i class="col material-icons" style="padding: 10px 0px 0px 0px !important;">arrow_forward</i>
						<h6 id="goodMonth" style="padding:0px !important;" class="col">Month 5</h6>
					</div>
					<div class="progress light-green accent-1">
						<div class="determinate green" style="width: 80%"></div>
					</div>
					<p id="progressMessage" style="font-style: italic;">
						<i class="material-icons">star</i>
						Month 5 of treatment, Good progress!
					</p>
				</div>
				<div class="col">
					<div class="row" id="mtwDiv">
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">1</span>
									<a class="btn-floating btn-large green"><i class="material-icons">done_all</i></a>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">2</span>
									<a class="btn-floating btn-large green"><i class="material-icons">done_all</i></a>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">3</span>
									<a class="btn-floating btn-large green"><i class="material-icons">done_all</i></a>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">4</span>
									<a class="btn-floating btn-large green"><i class="material-icons">done_all</i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row" id="tfsDiv">
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">5</span>
									<a class="btn-floating btn-large yellow"><i class="material-icons">event</i></a>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">6</span>
									<a class="btn-floating btn-large grey"><i class="material-icons">event</i></a>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">7</span>
									<a class="btn-floating btn-large yellow pulse"><i class="material-icons">flash_on</i></a>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card">
								<div class="card-content">
									<span id="dayText" class="card-title">8</span>
									<a class="btn-floating btn-large yellow pulse"><i class="material-icons">flash_on</i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of engineers dedicated to making things work. Hope you like the
						page.</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			</div>
		</div>
	</footer>

	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/static/js/materialize.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="/static/js/init.js"></script>

</body>

</html>